<div class="header">
    <div class="container">
        <div class="header-container">
            <div class="header-left">
                <i class="bx bx-menu"></i>
                <h4 routerLink="/userpage/home">SwiftCart</h4>
            </div>
            <div class="header-center">
                <input type="text" placeholder="Search">
                <div class="all-cat">
                    <p>All Category</p>
                    <i class="bx bx-chevron-down"></i>
                </div>
                <app-buttons content="Search"></app-buttons> 
            </div>
            <div class="header-right">
                <div class="header-icon user">
                    <i class="bx bx-user"></i>
                    <p>Profile</p>
                </div>
                <div class="header-icon msg">
                    <i class="bx bx-message"></i>
                    <p>Message</p>
                </div>
                <div class="header-icon heart">
                    <i class="bx bxs-heart"></i>
                    <p>Orders</p>
                </div>
                <div class="header-icon cart">
                    <i class="bx bx-cart"></i>
                    <p>My Cart</p>
                </div>
            </div>
        </div>
    </div>
</div>