<div class="quote">
    <div class="container">
        <div class="quote-container">
            <div class="quote-container-detail">
                <h4>An easy way to send requests to all suppliers</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
            </div>


            <div class="quote-container-form">
                <h5>Send quote to suppliers</h5>
                <form>
                    <input class="item" placeholder="What item do you need">
                    <textarea class="more" placeholder="Type more details" rows="4"></textarea>
                    <div class="quantity">
                        <input type="number" class="quantity-field" placeholder="Quantity">
                        <span class="pcs">Pcs</span>
                    </div>
                    <app-buttons [content]="'Send Enquiry'"></app-buttons>
                </form>
            </div>
        </div>
    </div>

</div>