<div class="nav">
    <div class="container">
        <div class="nav-container">
            <div class="left">
                <div class="category">
                    <i class="bx bx-menu"></i>
                    <p>All Category</p>
                </div>
                <ul class="nav-list">
                    <li class="nav-link"><a href="#">Hot Offers</a></li>
                    <li class="nav-link"><a href="#">Gift Boxes</a></li>
                    <li class="nav-link"><a href="#">Projects</a></li>
                    <li class="nav-link"><a href="#">Menu Item</a></li>
                    <li class="nav-link"><a href="#">Help</a></li>
                </ul>
            </div>
            <div class="right">
                <app-country-select [absoluteTop]="30" direction="down"></app-country-select>
                
            </div>
        </div>
    </div>
</div>