<div class="footer">
    <div class="footer-top container">
        <div class="brand-logo-links">
            <h4>SwiftCart</h4>
            <p>Best information about the company gies here but now lorem ipsum is</p>
            <div class="social-links">
                <span class="social-links-item"><i class="bx bxl-facebook"></i></span>
                <span class="social-links-item"><i class="bx bxl-twitter"></i></span>
                <span class="social-links-item"><i class="bx bxl-linkedin"></i></span>
                <span class="social-links-item"><i class="bx bxl-instagram"></i></span>
                <span class="social-links-item"><i class="bx bxl-youtube"></i></span>
            </div>
        </div>
        <div class="footer-nav">
            <div class="about">
                <h4>About</h4>
                <ul class="footer-nav-list">
                    <li class="footer-nav-list-link"><a href="#">About Us</a></li>
                    <li class="footer-nav-list-link"><a href="#">Find Store</a></li>
                    <li class="footer-nav-list-link"><a href="#">Categories</a></li>
                    <li class="footer-nav-list-link"><a href="#">Blogs</a></li>
                </ul>
            </div>
            <div class="info">
                <h4>Information</h4>
                <ul class="footer-nav-list">
                    <li class="footer-nav-list-link"><a href="#">Help Center</a></li>
                    <li class="footer-nav-list-link"><a href="#">Money Refund</a></li>
                    <li class="footer-nav-list-link"><a href="#">Shipping</a></li>
                    <li class="footer-nav-list-link"><a href="#">Contact Us</a></li>
                </ul>
            </div>
            <div class="users">
                <h4>For Users</h4>
                <ul class="footer-nav-list">
                    <li class="footer-nav-list-link"><a href="#">Login</a></li>
                    <li class="footer-nav-list-link"><a href="#">Register</a></li>
                    <li class="footer-nav-list-link"><a href="#">Settings</a></li>
                    <li class="footer-nav-list-link"><a href="#">My Orders</a></li>
                </ul>
            </div>
        </div>
        <div class="download">
            <h4>Get App</h4>
            <div class="d-links">
                <div class="d-link-item iphone">
                    <i class="bx bxl-apple"></i>
                    <div class="d-link-item-details">
                        <p>Download on the</p>
                        <h5>App Store</h5>
                    </div>
                </div>
                <div class="d-link-item iphone">
                    <i class="bx bxl-apple"></i>
                    <div class="d-link-item-details">
                        <p>GET IT ON</p>
                        <h5>Google Play</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="left">
                <i class="bx bx-copyright"></i>
                <h5>2023 ECommerce</h5>
            </div>
            <div class="right">
                <app-country-select [absoluteTop]="-120" direction="down"></app-country-select>
                
            </div>
        </div>
    </div>
</div>