<div class="subscribe">
    <div class="container">
        <div class="sub-container">
            <div class="sub-details">
                <h4>Subscribe on our newsletter</h4>
                <p>Get daily news on upcoming offers from many suppliers all over the world</p>
            </div>    
            <div class="email-btn">
                <div class="email-input">
                    <i class="bx bx-mail"></i>
                    <input type="email" placeholder="Email">
                </div>
                <app-buttons content="Subscribe"></app-buttons>
            </div>
        </div>
    </div>
</div>
