.btn-white {
    button {
        background: var(--white-color);
        color: var(--black-color);
        padding: 0.625em 1.5em;
        font-size: var(--body-micro-size);
        border: none;
        outline: none;
        border-radius: 5px;
        height: 30px;
        cursor: pointer;
        transition: all 0.2s ease-in-out;

        &:hover {
            background: var(--primary-color);
            border: 1px solid var(--primary-color);
            color: var(--white-color);
        }
    }
}