.region{
    .container{
        .display{
            margin-bottom: 1.25em;

            h5{
                font-weight: var(--font-semi-bold);
            }
        }
        .region-country{
            .product-list{
                display: grid;
                grid-template-columns: repeat(5, 1fr);
                gap: 1.25em;

                @media screen and (max-width: 992px){
                    grid-template-columns: repeat(3,1fr);
                    margin: auto 1em;   
                }

                @media screen and (max-width: 576px) {
                    // display: flex;
                    grid-template-columns: repeat(2,1fr);
                    margin: auto 1em;
                }

                li{
                    // border: 1px solid green;
                    display: flex;
                    align-items: center;
                    gap: 0.5em;

                    h5{
                        font-size: 1em;
                    }

                    p{
                        font-size: 0.75em;
                    }
                }
                

            }
        }
    }
}